/.idea
.env
*.exe
!binaries/
!binaries/**
gateway.log
/internal/cache/cache/1/a8/*.bin
/bin
/internal/cache/cache/1/b8/*.bin
/internal/cache/cache/2/33/*.bin
/internal/cache/cache/2/8c/*.bin
/internal/cache/cache/3/1b/*.bin
/internal/cache/cache/3/27/*.bin
/internal/cache/icache2/1/4a/*.bin
/internal/cache/icache2/1/71/*.bin
/internal/cache/icache2/1/80/*.bin
/internal/cache/icache2/1/d6/*.bin
/internal/cache/icache2/2/02/*.bin
/internal/cache/icache2/2/9a/*.bin
/internal/cache/icache2/2/cd/*.bin
/internal/cache/icache2/2/eb/*.bin
/internal/cache/icache2/3/07/*.bin
/internal/cache/icache2/3/6a/*.bin
/internal/cache/icache2/3/75/*.bin
/internal/cache/icache2/3/ec/*.bin
